.info, .info div{
    display: flex;
    justify-content: center;
}
.info div{
    margin: 7px;
}
.missoes, .especiais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
}
.missoes, .info_missao{
    background-color: var(--cor-preto);
}
.info_missao, .info_especial{
    width: 10px;
    height: 10px;
}
.pontuacao{
    color: rgb(51, 255, 0);
}
.especiais, .info_especial{
    background-color: #6a6acf;
}
.info_especial{
    box-shadow: none;
}
.especiais .pontuacao{
    text-shadow: 0 0 1px black;
}