.galeria{
    margin: auto;
}
.galeria .fotos div{
    border-radius: 7px;
}
.galeria, .galeria img{
    max-width:600px;
    max-height:400px;
    width: auto;
    height: auto;
}
.galeria .fotos button:hover{
    background-color: rgba(0, 0, 0, 0.226);
}
.galeria .fotos button:focus{
    background-color: transparent;
}
.zona_botao_galeria{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}