:root{
  --cor-laranja: #EE7B30;
  --cor-amarelo: #D9AB32;
  --cor-preto: #0E1428;
  --cor-branco: #FFFCE8;
  --cor-verde: #135351;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
.container{
  padding-top: 90px;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
a, .link{
  color: var(--cor-amarelo);
  text-decoration: none;
  transition: .4s color;
}
a:hover, .link:hover{
  color: var(--cor-laranja);
  cursor: pointer;
}
button{
  border: 1px solid var(--cor-preto);
  border-radius: 3px;
  padding: 5px 15px;
  background-color: var(--cor-preto);
  color: var(--cor-branco);
  transition: .4s;
}
button:hover{
  background-color: var(--cor-laranja);
}

/*Titulos principais das paginas*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.titulo-principal{
    margin: 40px 0;
    text-align: center;
    font-family: 'Righteous', cursive;
}