.navbar{
    border-bottom: 1px solid rgba(204, 204, 0, 0.664);
}
.logo-principal{
    margin-left: 25px;
}

/*MENU*/

.nav-item ul{
    padding: 3px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    background-color: white;
    display: block;
    width: 100px;
    border: 1px solid rgba(255, 166, 0, 0.582);
    border-radius: 5px; 
    transform: translate3d(0, -25px, 0);
    transition: transform .3s, opacity .2s;
}
@media (max-width: 767px){
    .nav-item ul{
        opacity: 1;
        visibility: visible;
        position: relative;
        transform: translate3d(0, 0, 0);
        border: none;
        border-radius: none;
        border-bottom: 1px dashed var(--cor-amarelo);
    }
}
.nav-item{
    margin-top: 13px;
    vertical-align: center;
}
.nav-item:hover ul{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.nav-item ul li{
    margin: 0;
    padding: 0px 10px;   
}
.nav-item a, .nav-item .link{
    margin: 0px 10px;
}

/*BOTAO*/
.botao-menu-principal{
    padding: 10px;
    color: var(--cor-amarelo);
    margin-right: 25px;
    margin-left: 15px;
    transition: .4s;
}
.botao-menu-principal:hover{
    color: var(--cor-laranja);
    background-color: inherit;
}
.botao-troca-site{
    margin-top: 8px;
    margin-right: 25px;
}